@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: #23272a;
  font-family: 'Sen', sans-serif;
  overflow-y: hidden;
}

::selection {
  color: #fff;
  background: #7289da;
}

#image {
  height: var(--height) !important;
  transform: scale(var(--width));
  transform-origin: top left;
}

@media screen and (max-width: 768px) {
  html,
  body {
    height: 100%
  }

  body {
    padding: 1rem;
  }
}